@media only screen and (max-width: 550px) {
	.introHomeRight {
		margin-top: -10px;
	}

	#introHome h1 {
		font-size: 50px;
	}
	#aboutHome {
		padding: 40px;
	}

	#aboutHome h1 {
		font-size: 40px !important;
	}

	#aboutHome h1 span {
		font-size: 40px !important;
	}
	#social {
		/* padding: 50px; */
		height: 80vh;
	}
	#social h3 {
		font-size: 20px !important;
	}

	#social p {
		font-size: 25px !important;
	}

	#social p span {
		font-size: 25px;
	}
	#social ul li {
		font-size: 25px;
		padding: 2px;
	}
}

@media only screen and (max-width: 571px) {
	#aboutHome {
		padding: 40px;
	}

	#aboutHome h1 {
		font-size: 45px;
	}

	#aboutHome h1 span {
		font-size: 50px;
	}
	#social {
		padding: 50px;
	}
	#social h3 {
		font-size: 17px;
	}

	#social p {
		font-size: 40px;
	}

	#social p span {
		font-size: 25px;
	}
	#social ul li {
		font-size: 25px;
		padding: 2px;
	}
	#skillHome ul li ul li {
		font-size: 15px;
		padding: 10px 12px;
		margin: 1px;
	}
	#skillHome .container {
		padding: 60px;
	}

	#whatiDoHome {
		padding: 50px;
	}
}

@media only screen and (max-width: 768px) {
	#aboutHome {
		padding: 40px;
	}

	#aboutHome h1 {
		font-size: 45px;
	}

	#aboutHome h1 span {
		font-size: 50px;
	}
	#social {
		padding: 50px;
	}
	#social h3 {
		font-size: 17px;
	}

	#social p {
		font-size: 40px;
	}

	#social p span {
		font-size: 25px;
	}
	#social ul li {
		font-size: 25px;
		padding: 2px;
	}
	#skillHome ul li ul li {
		font-size: 15px;
		padding: 10px 12px;
		margin: 1px;
	}
	#skillHome .container {
		padding: 60px;
	}

	#whatiDoHome {
		padding: 50px;
	}
}
