* {
	margin: 0;
	padding: 0;
}

#introHome {
	width: 100%;
	height: 115vh;
	background-attachment: fixed;
	color: #fff;
	background-image: url(../img/introHome.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
}

#introHome h1 {
	/* font-family: "Roboto", sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70px;
	font-weight: bold;
}

#introHome h1 span {
	color: aquamarine;
}
#introHome h2 {
	font-size: 35px;
}
#introHome h2 span {
	font-size: 15px;
	color: #999;
}
.introHomeLeft {
	padding: 40px;
}

.introHomeRight {
	margin-top: 100px;
}

#aboutHome {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#aboutHome h1 {
	font-size: 55px;
	font-family: Arial, Helvetica, sans-serif;
}
#aboutHome h1 span {
	font-weight: bold;
	font-size: 60px;
}
#aboutHome p {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	color: #e74c3c;
}

#skillHome {
	/* background: #2f3542; */
	background-image: url(../img/skillBanner.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}

#skillHome .container {
	padding: 120px;
	color: #fff;
}

#skillHome h2 {
	color: #2ecc71;
	text-transform: uppercase;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#skillHome ul li {
	list-style: none;
}

#skillHome h3 {
	font-size: 35px;
	padding: 5px;
	font-weight: 200;
	margin-top: 15px;
}

#skillHome ul li ul li {
	font-size: 22px;
	padding: 10px 12px;
	display: inline-block;
	background-color: #212529;
	border-radius: 10px;
	margin: 1px;
}

#whatiDoHome {
	padding: 100px;
}

#whatiDoHome h2 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #3297da;
	padding: 10px;
	margin-bottom: 30px;
}

#whatiDoHome h3 {
	padding: 15px 15px 10px 15px;
	font-weight: 500;
}

#whatiDoHome p {
	padding: 20px;
}

#whatiDoHome .cardBox {
	/* padding: 10px; */
	margin: 10px 0px;
	/* background-color: #fff; */
	background-color: #ecf0f1;
	color: #2f3542;
}

#whatiDoHome .cardBox:hover {
	color: #111;
	background-color: #e2e2e2;
	transition: 0.2s;
}

#whatiDoHome button {
	font-size: 15px;
	padding: 10px;
	text-transform: uppercase;
	margin: 10px;
	background-color: #fff;
	color: rgb(73, 73, 73);
	border: 1px solid rgb(73, 73, 73);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}

#whatiDoHome button:hover {
	background-color: rgb(73, 73, 73);
	color: rgb(226, 226, 226);
	transition: 0.3s;
}

#social {
	background: #111;
	background-size: cover;
	/* background-attachment: fixed; */
	width: 100%;
	height: 80vh;
	/* padding: 200px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: #fff;
}

#social h3 {
	font-weight: 200;
	color: #3498db;
	text-transform: uppercase;
	font-size: 20px;
}

#social p {
	font-size: 45px;
}

#social p span {
	color: #3498db;
	font-size: 30px;
}

#social ul li {
	display: inline-block;
	padding: 5px;
	font-size: 30px;
}

#social ul li a {
	padding: 10px;
	color: #888;
}

.scrollToTop {
	float: right;
}

.scrollToTop button {
	padding: 15px 15px;
	text-transform: uppercase;
	background: none;
	color: #fff;
	border: 0.5px solid #fff;
	border-radius: 5px;
}

.scrollToTop button::after {
	content: "\2191";
	font-size: 20px;
}
